<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".residencyform"
            android:exported="false" />
        <activity
            android:name=".navigation_drawer_main"
            android:exported="false" />
        <activity
            android:name=".BusinessClearanceMain"
            android:exported="false" />
        <activity
            android:name=".BarangayClearanceForm"
            android:exported="false" />
        <activity
            android:name=".SecureDocument"
            android:exported="false" />
        <activity
            android:name=".announcementsRefinedScreen"
            android:exported="false" />
        <activity
            android:name=".AnnouncementDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".QueryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FetchQuery"
            android:exported="false" />
        <activity
            android:name=".QueryActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".Urgent"
            android:exported="false" />
        <activity
            android:name=".ReportDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".reportactvities.FetchingActivity"
            android:exported="false" />
        <activity
            android:name=".reportactvities.InsertionActivity"
            android:exported="false" />
        <activity
            android:name=".reportactvities.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".signup2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AskQueryDONE"
            android:exported="false" />
        <activity
            android:name=".AskQuery"
            android:exported="false" />
        <activity
            android:name=".SuggestNext"
            android:exported="false" />
        <activity
            android:name=".Suggest"
            android:exported="false" />
        <activity
            android:name=".ReportDONE"
            android:exported="false" />
        <activity
            android:name=".ReportFillOut"
            android:exported="false" />
        <activity
            android:name=".ReportNext"
            android:exported="false" />
        <activity
            android:name=".profileAct"
            android:exported="false" />
        <activity
            android:name=".settingsAct"
            android:exported="false" />
        <activity
            android:name=".announcementsAct"
            android:exported="false" />
        <activity
            android:name=".locateAct"
            android:exported="false" />
        <activity
            android:name=".reportAct"
            android:exported="false" />
        <activity
            android:name=".appointmentAct"
            android:exported="false" />
        <activity
            android:name=".Loginpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>